body {
    margin: 0;
    padding: 0;
}

#map {
    margin: 0;
    padding: 0;
}


.overlay {
    fill: none;
    pointer-events: all;
}

.sidePanel {
    background: AliceBlue;
    height: 100vh;
    border-style: Dotted;
    border-width: 5px;
    border-color: LawnGreen;
    font-style: Normal; 
    font-size: 20px;



}

.mapPanel {
    background: grey;
    height: 100%;
}

.statsPanel {

    background: AliceBlue;
    height: 100%;
}

.MainContainer {
    padding: 3em;
    background-color: White;

    height: 100vh;
}

.perspectiveGridFileTileSize {
background: Black;



}





